# Server config #####################################################
HOSTNAME=hostname.com
SERVER_NAME=${HOSTNAME}
NGINX_CONTAINER_NAME=${HOSTNAME}-nginx
MYSQL_CONTAINER_NAME=${HOSTNAME}-mysql
APP_CONTAINER_NAME=${HOSTNAME}-nginx
RESTART=no
ENVIRONMENT=staging
EXTERNAL_NETWORKS=traefik

# Traefik ###########################################################

TRAEFIK_AUTH_MIDDLEWARE=
# TRAEFIK_AUTH_MIDDLEWARE=,auth@file

# Project specific ##################################################

